@font-face {
	font-family: 'openSansBold';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'openSansRegular';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

body {	
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: openSansBold;
	font-size: 12px;
}

a, a:active, a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 149, 221);
}

a:hover {
    color: #104E8B;
}

h2 {
    font-family: 'openSansBold', sans-serif;
    font-size: 33px;
    letter-spacing: -2px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal;
    text-align: left;
}

p.first {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

#remo-top {
	background: url('../img/bg-sky.png') 0 0 repeat-x;
	padding: 20px 0 0 0;
	position: absolute;
	width: 100%;
	height: 80px;	
}

#remo-main {
	background: #F8F8F8 url('../img/bg-sky.png') 0 0 repeat-x;
	bottom: 0;
	position: fixed;	
	top: 80px;	
	overflow: auto;
	width: 100%;
	
}
.ItemTitle {
  padding: 5px;
}

dl.tabs dd a.active  {
	background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));
	color: white;
}

dl.tabs dd a  {
	background-image: linear-gradient(rgb(39, 97, 149), rgb(39, 97, 149));
	color: white;
}
.button {
    background: white;
    display: inline-block;
    text-align: center;
    padding: 9px 34px 11px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
    position: relative;
    cursor: pointer;
    border: medium none;
    outline: medium none;
    margin: 0px;
}

